@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    html:has(.drawer-auto-gutter .drawer-toggle:checked){
        scrollbar-gutter: auto;
    }
}
@layer components{
    html:has(.auto-gutter){
        scrollbar-gutter: auto;
    }
}
.container-with-course-cards {
    /* For Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    scrollbar-width: none;

    /* Enable scrolling */
    overflow-y: auto;
}
.home {

    /* For Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    scrollbar-width: none;

    /* Enable scrolling */
    overflow-y: auto;}